:root {
  --color-body: #e9e9e9;
  --color-card: #fff;
  --color-title: #141414;
  --linear-gradient: linear-gradient(40deg, #8dcef7, #7973ee 70%);
  --box-shadow: 0 4px 35px rgba(0,0,0,0.2);
}
.dark {
  --color-body: #141414;
  --color-card: #1a1a1a;
  --color-title: #fff;
  --linear-gradient: linear-gradient(40deg, #f33434, #FF8C00 70%);
  --box-shadow: 0 3px 15px rgba(48,48,48,0.2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-body);
  transition: background-color ease-in-out 0.5s;
}
.card {
  background-color: var(--color-card);
  width: 330px;
  height: 330px;
  box-shadow: var(--box-shadow);
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  text-align: center;
}
.title {
  color: var(--color-title);
  font-size: 1.8rem;
  margin: 3rem 0;
}
.title::after {
  content: " Light"
}
.switch {
  background: var(--linear-gradient);
  border-radius: 50px;
  width: 100px;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  color: white;
  box-sizing: var(--box-shadow);
  cursor: pointer;
  font-size: 1.4rem;
}
.switch::after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0.5rem;
  border-radius: 50px;
  background-color: white;
  transition: transform ease-in-out 0.5s;
}
.dark .title::after {
  content: " Dark";
}
.dark .switch::after {
  transform: translateX(45px);
}